---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=995&currency=usd&card=tok_14UYxs42i6ljKhjnSupEOOQj
    headers:
      Authorization:
      - Bearer sk_test_4NbXhWJla3kc0CpRwKJitpEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14UYxv42i6ljKhjnINR5QtQN",
          "object": "charge",
          "created": 1408778975,
          "livemode": false,
          "paid": true,
          "amount": 995,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14UYxs42i6ljKhjnmJIOwVW7",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "7YoviZ4ZxWymljxV",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14UYxv42i6ljKhjnINR5QtQN/refunds",
            "data": []
          },
          "balance_transaction": "txn_14UYxv42i6ljKhjnAJrqVOxu",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Sat, 23 Aug 2014 07:29:35 GMT
recorded_with: VCR 2.9.2
