---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=8&card[exp_year]=2018&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_4NbXhWJla3kc0CpRwKJitpEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14Svrb42i6ljKhjnHzE1uKix",
          "livemode": false,
          "created": 1408390339,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14Svrb42i6ljKhjnV8LCCzfE",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2018,
            "fingerprint": "BKX9ikExOGemrhIN",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Mon, 18 Aug 2014 19:32:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14Svrb42i6ljKhjnHzE1uKix
    headers:
      Authorization:
      - Bearer sk_test_4NbXhWJla3kc0CpRwKJitpEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14Svrb42i6ljKhjnbtXRXwd4"
          }
        }
  recorded_at: Mon, 18 Aug 2014 19:32:19 GMT
recorded_with: VCR 2.9.2
