%section.invite.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @invitation, class: 'invite' do |f|
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          = f.text_field :recipient_name, label: "Friend's Name"
          %br
          = f.text_field :recipient_email, label: "Friend's Email"
          %br
          = f.text_area :message, class: 'span4', cols: 50, rows: 6, placeholder: 'Please join this really cool site!', label: "Message"
        %fieldset.form-group.action
          %input(type="submit" value="Send Invitation" class="btn btn-default")
