---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=995&currency=usd&card=tok_14THOp42i6ljKhjnQiKxkqwJ
    headers:
      Authorization:
      - Bearer sk_test_4NbXhWJla3kc0CpRwKJitpEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14THOp42i6ljKhjn8NR4ekDP"
          }
        }
  recorded_at: Tue, 19 Aug 2014 18:32:03 GMT
recorded_with: VCR 2.9.2
